<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AccountInfoMapper">

    <resultMap type="com.ruoyi.system.domain.AccountInfo" id="AccountInfoResult">
        <id     property="id"      column="id"      />
        <result property="ipAddress"    column="ip_address"    />
        <result property="userName"     column="user_name"     />
        <result property="pwd"   column="pwd"   />
        <result property="subNum"    column="sub_num"    />
        <result property="isLogin"      column="is_login"      />
        <result property="babySize"    column="baby_size"    />
        <result property="windowsNum"      column="windows_num"      />
        <result property="isGod"    column="is_god"    />
        <result property="isWljj"    column="is_wljj"    />
        <result property="xjd"    column="xjd"    />
        <result property="smallAddTime"    column="small_add_time"    />
        <result property="wljjEndTime"    column="wljj_end_time"    />
        <result property="saveX"    column="save_x"    />
        <result property="status"    column="status"    />
        <result property="jsIp"    column="js_ip"    />
    </resultMap>
    <sql id="selectAccount">
       select
       id, ip_address, user_name, pwd, sub_num,
        is_login, baby_size, windows_num, is_god,
        is_wljj, xjd, small_add_time, wljj_end_time,
        save_x, status, js_ip,create_user_id
		from user_info
    </sql>
    <select id="selectAccountList" parameterType="com.ruoyi.system.domain.AccountInfo" resultMap="AccountInfoResult">
        <include refid="selectAccount"/>
    </select>

    <insert id="addAccount" parameterType="com.ruoyi.system.domain.AccountInfo">
        insert into user_info(
        <if test="ipAddress != null and ipAddress != ''" >ip_address,</if>
        <if test="userName != null and userName != ''" >user_name,</if>
        <if test="pwd != null and pwd !=''" >pwd,</if>
        <if test="subNum != null and subNum != ''" >sub_num,</if>
        <if test="isLogin != null and isLogin != ''" >is_login,</if>
        <if test="babySize != null and babySize != ''" >baby_size,</if>
        <if test="windowsNum != null and windowsNum != ''" >windows$1um,</if>
        <if test="isGod != null and isGod != ''" >is$1od,</if>
        <if test="isWljj != null and isWljj != ''" >is_wljj,</if>
        <if test="xjd != null" >xjd,</if>
        <if test="smallAddTime != null" >small_add_time,</if>
        <if test="wljjEndTime !=null and wljjEndTime != ''" >wljj_end_time,</if>
        <if test="saveX != null and saveX != ''" >save_x,</if>
        <if test="status != null and status != ''" >status,</if>
        <if test="jsIp != null and jsIp != ''" >js_ip</if>
        )values(
        <if test="ipAddress != null and ipAddress != ''" >#{ipAddress},</if>
        <if test="userName != null and userName != ''" >#{userName},</if>
        <if test="pwd != null" >#{pwd},</if>
        <if test="subNum != null and subNum != ''" >#{subNum},</if>
        <if test="isLogin != null and isLogin != ''" >#{isLogin},</if>
        <if test="babySize != null and babySize != ''" >#{babySize},</if>
        <if test="windowsNum != null and windowsNum != ''" >#{windowsNum},</if>
        <if test="isGod != null and isGod != ''" >#{isGod},</if>
        <if test="isWljj != null and isWljj != ''" >#{isWljj},</if>
        <if test="xjd != null" >#{xjd},</if>
        <if test="smallAddTime != null" >#{smallAddTime},</if>
        <if test="wljjEndTime !=null and wljjEndTime != ''" >#{wljjEndTime},</if>
        <if test="saveX != null and saveX != ''" >#{saveX},</if>
        <if test="status != null and status != ''" >#{status},</if>
        <if test="jsIp != null and jsIp != ''" >#{jsIp}</if>
        )
    </insert>
</mapper>
